USE [YazOkuluDB]
GO
/****** Object:  User [halic]    Script Date: 21.11.2025 22:00:11 ******/
CREATE USER [halic] FOR LOGIN [halic] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [halic]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 21.11.2025 22:00:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 21.11.2025 22:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[application_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[create_user_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[modify_user_id] [int] NULL,
	[modify_date] [datetime2](7) NULL,
	[delete_user_id] [int] NULL,
	[delete_date] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
	[guid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [pk_applications] PRIMARY KEY CLUSTERED 
(
	[application_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 21.11.2025 22:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[quota] [int] NOT NULL,
	[faculty_id] [int] NOT NULL,
	[create_user_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[modify_user_id] [int] NULL,
	[modify_date] [datetime2](7) NULL,
	[delete_user_id] [int] NULL,
	[delete_date] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
	[guid] [uniqueidentifier] NOT NULL,
	[department_id] [int] NOT NULL,
	[current_quota] [int] NULL,
 CONSTRAINT [p_k__courses] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gsm_otps]    Script Date: 21.11.2025 22:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gsm_otps](
	[gsm_otp_id] [int] IDENTITY(1,1) NOT NULL,
	[gsm] [nvarchar](max) NOT NULL,
	[otp] [nvarchar](max) NOT NULL,
	[create_user_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[modify_user_id] [int] NULL,
	[modify_date] [datetime2](7) NULL,
	[delete_user_id] [int] NULL,
	[delete_date] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
	[guid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [pk_gsm_otps] PRIMARY KEY CLUSTERED 
(
	[gsm_otp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[parameters]    Script Date: 21.11.2025 22:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parameters](
	[parameter_id] [int] NOT NULL,
	[parent_parameter_id] [int] NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[create_date] [datetime2](7) NULL,
	[create_user_id] [int] NULL,
	[delete_date] [datetime2](7) NULL,
	[delete_user_id] [int] NULL,
	[guid] [uniqueidentifier] NOT NULL,
	[is_deleted] [bit] NOT NULL,
	[modify_date] [datetime2](7) NULL,
	[modify_user_id] [int] NULL,
 CONSTRAINT [p_k__parameters] PRIMARY KEY CLUSTERED 
(
	[parameter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21.11.2025 22:00:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[gsm] [nvarchar](max) NOT NULL,
	[user_name] [nvarchar](max) NULL,
	[faculty_type_id] [int] NULL,
	[department_type_id] [int] NULL,
	[password] [nvarchar](max) NULL,
	[role_type_id] [int] NOT NULL,
	[create_user_id] [int] NULL,
	[create_date] [datetime2](7) NULL,
	[modify_user_id] [int] NULL,
	[modify_date] [datetime2](7) NULL,
	[delete_user_id] [int] NULL,
	[delete_date] [datetime2](7) NULL,
	[is_deleted] [bit] NOT NULL,
	[guid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [p_k__users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120203827_initialCreate', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120221401_courseDepartmanAdded', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251120224332_parameterInheritBaseEntity', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[applications] ON 

INSERT [dbo].[applications] ([application_id], [user_id], [course_id], [status_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (8, 9, 13, 19, 1, CAST(N'2025-11-21T17:28:50.8792087' AS DateTime2), 1, CAST(N'2025-11-21T17:29:50.7853096' AS DateTime2), NULL, NULL, 0, N'874dae70-ce5d-4f40-ba7d-47d23b9c3eff')
INSERT [dbo].[applications] ([application_id], [user_id], [course_id], [status_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (9, 9, 10, 19, 1, CAST(N'2025-11-21T17:29:57.4797446' AS DateTime2), 1, CAST(N'2025-11-21T17:30:49.7672420' AS DateTime2), NULL, NULL, 0, N'552664dd-700d-4738-a48d-d41666d4d01e')
INSERT [dbo].[applications] ([application_id], [user_id], [course_id], [status_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (10, 13, 3, 19, 1, CAST(N'2025-11-21T17:33:35.6408434' AS DateTime2), 1, CAST(N'2025-11-21T17:33:59.4046688' AS DateTime2), NULL, NULL, 0, N'37b9a126-faf5-4b8b-b5b4-2ba811f0627d')
SET IDENTITY_INSERT [dbo].[applications] OFF
GO
SET IDENTITY_INSERT [dbo].[courses] ON 

INSERT [dbo].[courses] ([course_id], [code], [name], [quota], [faculty_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid], [department_id], [current_quota]) VALUES (1, N'123', N'Sayısal Analiz', 15, 7, 1, CAST(N'2025-11-20T23:17:12.3561494' AS DateTime2), 1, CAST(N'2025-11-20T23:33:48.6779358' AS DateTime2), 1, CAST(N'2025-11-20T23:34:05.1597883' AS DateTime2), 1, N'267b6818-bad0-4e5a-96bc-dce08af127a8', 11, 0)
INSERT [dbo].[courses] ([course_id], [code], [name], [quota], [faculty_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid], [department_id], [current_quota]) VALUES (2, N'CD145', N'Antrenman', 25, 8, 1, CAST(N'2025-11-20T23:35:14.7219165' AS DateTime2), 1, CAST(N'2025-11-21T17:23:12.6651627' AS DateTime2), NULL, NULL, 0, N'8cbfee71-f31f-44ec-8305-c65edb44707f', 15, 0)
INSERT [dbo].[courses] ([course_id], [code], [name], [quota], [faculty_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid], [department_id], [current_quota]) VALUES (3, N'Abc44', N'Yazılım', 22, 7, 1, CAST(N'2025-11-20T23:36:58.3120321' AS DateTime2), 1, CAST(N'2025-11-21T17:33:59.4221041' AS DateTime2), NULL, NULL, 0, N'64e5cc44-6c19-4438-b4f7-04370d38d4b8', 11, 1)
SET IDENTITY_INSERT [dbo].[courses] OFF
GO
SET IDENTITY_INSERT [dbo].[gsm_otps] ON 

INSERT [dbo].[gsm_otps] ([gsm_otp_id], [gsm], [otp], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (1, N'123', N'275769', 1, CAST(N'2025-11-20T20:58:12.6338133' AS DateTime2), NULL, NULL, NULL, NULL, 0, N'cf32d5b7-6c20-4a03-9ee8-31835e93fc5c')
INSERT [dbo].[gsm_otps] ([gsm_otp_id], [gsm], [otp], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (2, N'111', N'431976', 1, CAST(N'2025-11-20T21:00:40.4883989' AS DateTime2), NULL, NULL, NULL, NULL, 0, N'e0c5cb33-e052-4de3-9733-440c43ac1a8c')
INSERT [dbo].[gsm_otps] ([gsm_otp_id], [gsm], [otp], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (3, N'987', N'257537', 1, CAST(N'2025-11-20T21:12:47.3205063' AS DateTime2), NULL, NULL, NULL, NULL, 0, N'1a3815c5-6630-4942-bd9d-ac56d1c7c1c3')
SET IDENTITY_INSERT [dbo].[gsm_otps] OFF
GO
INSERT [dbo].[parameters] ([parameter_id], [parent_parameter_id], [name], [description], [create_date], [create_user_id], [delete_date], [delete_user_id], [guid], [is_deleted], [modify_date], [modify_user_id]) VALUES (4, NULL, N'FacultyType', N'Fakülte Tipi', NULL, NULL, NULL, NULL, N'00000000-0000-0000-0000-000000000000', 0, NULL, NULL)
INSERT [dbo].[parameters] ([parameter_id], [parent_parameter_id], [name], [description], [create_date], [create_user_id], [delete_date], [delete_user_id], [guid], [is_deleted], [modify_date], [modify_user_id]) VALUES (5, NULL, N'RoleType', N'Rol Tipi', NULL, NULL, NULL, NULL, N'00000000-0000-0000-0000-000000000000', 0, NULL, NULL)
INSERT [dbo].[parameters] ([parameter_id], [parent_parameter_id], [name], [description], [create_date], [create_user_id], [delete_date], [delete_user_id], [guid], [is_deleted], [modify_date], [modify_user_id]) VALUES (6, 4, N'FenEdebiyat', N'Fen Edebiyat', NULL, NULL, NULL, NULL, N'00000000-0000-0000-0000-000000000000', 0, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [gsm], [user_name], [faculty_type_id], [department_type_id], [password], [role_type_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (9, N'0', N'Admin', NULL, NULL, N'123', 9, NULL, NULL, NULL, NULL, NULL, NULL, 0, N'c4a7b8c5-9f43-4d39-9d0a-0fbc4a61d3b2')
INSERT [dbo].[users] ([user_id], [gsm], [user_name], [faculty_type_id], [department_type_id], [password], [role_type_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (10, N'123', N'Kadir', NULL, NULL, NULL, 10, 1, CAST(N'2025-11-20T20:58:12.4536765' AS DateTime2), NULL, NULL, NULL, NULL, 0, N'48d03394-6890-4ed1-a81c-773b97bb249d')
INSERT [dbo].[users] ([user_id], [gsm], [user_name], [faculty_type_id], [department_type_id], [password], [role_type_id], [create_user_id], [create_date], [modify_user_id], [modify_date], [delete_user_id], [delete_date], [is_deleted], [guid]) VALUES (11, N'111', N'Mehmet', NULL, NULL, NULL, 10, 1, CAST(N'2025-11-20T21:00:40.4745227' AS DateTime2), NULL, NULL, NULL, NULL, 0, N'512878f8-e79c-4dae-8ae2-e3633469b799')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[courses] ADD  DEFAULT ((0)) FOR [department_id]
GO
ALTER TABLE [dbo].[parameters] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [guid]
GO
ALTER TABLE [dbo].[parameters] ADD  DEFAULT (CONVERT([bit],(0))) FOR [is_deleted]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_courses_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([course_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_courses_course_id]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_parameters_status_id] FOREIGN KEY([status_id])
REFERENCES [dbo].[parameters] ([parameter_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_parameters_status_id]
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD  CONSTRAINT [FK_applications_users_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[applications] CHECK CONSTRAINT [FK_applications_users_user_id]
GO
